<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add</title>
</head>
<body>
    <form action="/admin/nav/doAdd" method="POST" enctype="multipart/form-data">
      
        标题：<input type="text" name="title" id="title">
        <br/>
        注释：<textarea name="zs" id="zs" cols="30" rows="10"></textarea>
        <br/>
        单文件：<input type="file" name="file" id="file">
        <br/>
        多文件：<input type="file" name="files" id="files" multiple>
        <br>
        <input type="submit" value="提交">
    </form>
</body>
</html>