<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <title>ejs 模板</title>
</head>
<body>
    <h2>这是一个登录页面</h2>
    <form action="/doLogin" method="post" >
        <input type="text" name="account">
        <input type="text" name="password">
        <button>提交</button>
    </form>
</body>
</html>